.container_wrapper {
  
  height: 100dvh;
  background: #131136;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container_login {
  width: 500px;
  height: mincontent;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #131136;
  box-shadow:  5px 5px 10px #09081a,
  -5px -5px 10px #1d1a52;
}

.brand-logo {
  height: 140px;
  width: 140px;
  background: url("../../../public/assets/images/logo1.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow:  15px 12px 20px #0a091d,
  -15px -15px 31px #1c194f;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--clr-neon);
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin: 30px 0;
}

.label,
.input,
.button_login {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.label {
  margin-bottom: 10px;
  color: white;
  font-family: poppins;
}

.label:nth-of-type(2) {
  margin-top: 12px;
}

.input::placeholder {
  color: gray;
}

.input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 5px 5px 5px #cacaca,
            inset -5px -5px 10px #f6f6f6;
}

.button_login {
  color: white;
 
  margin: 30px 0;
  background: var(--clr-neon);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;

  transition: 0.2s;
}

.button_login:hover {
  /* background-color: rgb(183, 106, 255); */
  box-shadow: inset 10px 10px 21px #461673,
  inset -10px -10px 21px #ce40ff;
  transition: 0.2s ease-in-out;
}

.button_login:focus {
  color: #000000;
  background-color: blueviolet;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding: 10px 0;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}