

.buttonTabs h1 {
    color: white;
}


.containerClips .buttonTabs.activeClips {
    background-color: var(--secondaryColor);
    text-shadow: 0px 0px 2px #000;
}

/* Clips */

.clips {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-content: space-between;

    width: 100%;
    gap: 20px;
    padding: 0 5%;
}

.clips {
    display: none;
}

.clips.activeTabs {
    display: grid;
}

/* Cards */

.card {
    min-width: 260px;
    min-height: 350px;
    padding: 0 0 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
    color: var(--thirdColor);
    background-color: var(--networksPrimary);
}

.card:hover {
    background-color: var(--secondaryColor);
    color: var(--networksPrimary);
    box-shadow: 0 0 5px var(--secondaryColor);
}


/* Description */

.card .desc {
    width: 100%;
    padding: 5px 0px 10px;
    display: flex;
    flex-direction: column;
}


.card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin: 0 10px 0 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.card img:hover{
   box-shadow: 0 0 15px var(--gold);
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
   -ms-transform: translateY(-10px);
   -o-transform: translateY(-10px);
}

.card h2 {
    font-size: 1.2em;
    text-align: start;
}

.title {
    margin: 5px 0;
    margin-top: 15px;
    color: rgb(255, 255, 255)
}

.activeTabs > h2{
    color: white;
   margin: 0 6rem 1rem;
}






.container {
    background-color: var(--blue);

    overflow: hidden;

}

.main_artistes {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.desc span {
    color: rgb(136, 136, 136);
}

.contentTabs {
    width: 100%;
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 20px;
}

Z
/* Buttons Tabs */


.main .buttonTabs {
    text-align: center;
}

.buttons_jours {
    text-align: center;
    margin-top: 30px ;
    

}

.main_artistes .buttons_jours button {
  background-color: rgb(53, 37, 198);
  min-width: 75px;
  height: 40px;
  margin: 5px;
  padding: 0 10px;
  color: var(--txt_white);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

  .main_artistes .buttons_jours button:hover{
    outline: 1px solid violet;
   
  }


.buttonTabs h1 {
    text-align: center;
margin-bottom: 20px;

}

/* Tabs */

.contentTabs {
    width: 100%;
}

.contentTabs section {
    display: none;
    width: 100%;
    min-width: 260px;
    padding: 0 15px;

}

.contentTabs section.activeTabs {
    display: block;
}