/* ===========================
            HEADER
===========================*/

@media all and (max-width: 920px) {
  .nav_links .icons {
    display: block;
  }

  .span_links {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
/* ===========================
            HEADER
===========================*/

/* ===========================
        MENU HAMBURGER
===========================*/

@media all and (max-width: 600px) {
  .nav_links .menu {
    display: flex;
  }

  .menu {
    display: block;
  }

  .nav_links .icons {
    display: none;
  }

  .span_links {
    display: block;
    position: relative;
    text-align: center;
    padding: 20px 0;
  }
  .nav_links li:nth-child(4) {
    border-radius: 0px;
  }

  .nav_links ul {
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
  }

  .nav_links li {
    background-color: black;
    width: 100%;

    display: none;
  }

  .nav_links li.active {
    display: block;
  }
}
/* ===========================
        MENU HAMBURGER
===========================*/

/* ===========================
            HOME
===========================*/
@media all and (max-width: 1313px) {
  .right .main_title_right h1 {
    font-size: 2.2rem;
    text-align: center;
  }
}

@media all and (max-width: 990px) {
  .main_container .right {
    width: 70%;
  }

  .right .main_title_right h1 {
    font-size: 1.8rem;
  }

  .right .premier_concert_rock {
    font-size: 1.1rem;
  }

  .right .location {
    font-size: 3rem;
  }

  .right .date {
    padding: 0.3rem 1.5rem;
    font-size: 1.5rem;
  }

  .right .button_tickets {
    padding: 0.6rem 1.7rem;
  }
}

@media all and (max-width: 740px) {
  .right .premier_concert_rock {
    font-size: 1rem;
    text-align: center;
  }
}

@media all and (max-width: 697px) {
  .right .location {
    font-size: 2.5rem;
  }

  .right .date {
    font-size: 1.2rem;
  }

  .right .button_tickets {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 600px) {
 .button_tickets .neon-button::before {
   width: 0%;
   height: 0%;
  }
}
/* ===========================
            HOME
===========================*/

/* ===========================
     SECTION1_EXPERIENCE_INOUBLIABLES
===========================*/
@media all and (max-width:1049px) {
  .section1_content:nth-of-type(2){
  display: flex;
  flex-direction: column-reverse;
  }

  .section1_content{
    gap: 0;
  }
  

  .section1_text h3{
    text-align: center;
  }
}



/* ===========================
          TICKETS_PAGE
===========================*/
@media all and (max-width:1720px) {
.bg_fleurs_left,.bg_fleurs_right{
  display: none;
}
}

@media all and (max-width:1720px) {
.section_tickets{
  padding-top: 9rem;
}
}

/* ===========================
          FAQ_PAGE
===========================*/
@media all and (max-width:1290px) {
  .tiger{
   display: none;
  }
  .faq_wrapper h2::before,
.faq_wrapper h2::after{
    /* font-size: 2rem; */
    display: none;
  }
}
  @media all and (max-width:462px){
  .faq_wrapper h2{
font-size: 2.5rem;
  }
}


/* ===========================
            FOOTER
===========================*/
@media all and (max-width:1300px) {
  .row{
    max-width:100%;
    align-items: center;
    flex-direction: column;

  }
  /* .logo_footer{
    margin-left: 100px;
  } */
  .footer-col h4 {
    margin: 15px 0;
  }

  .footer_col{
    min-width: 100%;
  }
}



@media all and (max-width:696px) {
  .footer .dog{
    width: 400px;
  }
}

/* ===========================
            FOOTER
===========================*/
