.crud{
    width: 100%;
    min-height: 100dvh;
    background:url(./images/keep-calm-keep-calm.jpg) no-repeat;
    background-size: cover;
    background-position:center;
 
    display: flex;
   justify-content: center;
    align-items: center;
}


table td {
    width: 200px;
    height: 50px;
    background-color: rgb(156, 124, 35);
    text-align: center;
    color: white;
}

table td button {
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
}
table td button.edit {
    border: 1px solid green;
    background-color: rgb(7, 168, 7);
    color: white;
}
table td button.edit:hover {
    background-color: rgb(3, 71, 3);
}
table td button.delete {
    border: 1px solid red;
    background-color: rgb(219, 19, 19);
    color: white;
}
table td button.delete:hover {
    background-color: rgb(92, 5, 5);
}


.addForm {
    margin-bottom: 30px;
 
}

.add_form_wrapper >  h1{
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}

.addForm input,.addForm select {
    width: 230px;
    height: 40px;
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
}
.addForm button {
    width: 135px;
    color: white;
    height: 35px;
    background-color: rgb(23, 122, 23);
    cursor: pointer;
}
.addForm button:hover {
    background-color: rgb(5, 86, 5);
}

.form_container{
    margin: 0 5rem;
}


